 #Lektion 6

#Det finns flera funktioner som kan användas vid mattematiska beräkningar i python

import math

pi = 3.14159

#
print("pi avrundat har värdet:")
print(round(pi))
print()

#När man ska som i detta fall använda sig av den inporterade "math modulen" skriver man först .math.
#
print("pi avrundat uppåt har värdet:")
print(math.ceil(pi))
print()

#
print("Pi avrundat neråt har värdet:")
print(math.floor(pi))
print()

# Precis som med absolutbelopp ger abs(absolute value) avståndet talet har till 0 eller origo.
# Alla positiva tal kommer få ett abs(absolute value) med oförändrad med samma värde som talet.
# Negativa tal kommer istället få en positiv abs(absolute value) eftersom en sträcka inte kan vara negativ.
# Absolutbelopp betecknas inom matematiken i le.(längdenheter) då man ska beskriva absolutbeloppet för/mellan punkter i en graf.
 #abs(x) --> ∣x∣ --> 3.14159 från 0
print("absolutbeloppet av pi är:")
print(abs(pi))
print()

# Genom att skriva "pow(variabel,x)" kommer variabelns värde att upphöjas x gånger.
 #pow(pi,2) --> pi^2 --> 3.14159^2
print("Pi upphöjt med 2 har värdet:")
print(pow(pi,2))
print()

# Genom att använda sqrt(square surte) kommer man helt enkelt att dividera variabelns värde.
print("Rotten ur pi är:")
print(math.sqrt(pi))
print()

# Genom att använda "max" kommer koden hitta värdet hos variablerna med högst värde.
# Det går även att skriva in matematiska uträkningar som värdet av variabeln.
 #z>y>x --> z = 9
x = -3
y = 5-2+1
z = 3*3
print("Det högsta värdet hos variablerna är:")
print(max(x, y, z))
print()

# Genom att på samma sätt använda "min" kommer koden hitta värdet hos variablerna med lägst värde.
 #x<y<z --> x = -3
print("Det lägsta värdet hos variablerna är:")
print(min(x, y, z))
